<footer class="footer trans">
    <div class="footer-main trans">
        <div class="grid trans">
            <div class="row wrapper">
                <nav aria-label="Help, contact and other HSBC HK links" class="trans">
                    <ul class="footer-large trans">
                        <li class="footer-large-item lg-3 trans">
                            <div class="footer-large-title">
                                <!-- MISSING ICON: <!-- <i class="icon icon-phone trans" aria-hidden="true"></i> -->
                                <h3 class="footer-section-title trans">{% trans %}Contact HSBC{% endtrans %}</h3>
                            </div>
                            <a href="https://www.hsbc.com.hk/help/contact/" data-pid="PWS_HK_EN_T839_0" class="trans">
                                <!-- {% trans %}Write, call or send a message{% endtrans %}&nbsp;<!-- MISSING ICON: <!-- <i class="icon icon-chevron-right trans" aria-hidden="true"></i> --> -->
                            </a>
                        </li>
                        <li class="footer-large-item lg-3 trans">
                            <div class="footer-large-title">
                                <!-- MISSING ICON: <!-- <i class="icon icon-location trans" aria-hidden="true"></i> -->
                                <h3 class="footer-section-title trans">{% trans %}Find a branch{% endtrans %}</h3>
                            </div>
                            <a href="https://www.hsbc.com.hk/branch-finder/" data-pid="PWS_HK_EN_T839_0" class="trans">
                                <!-- {% trans %}And your nearest Express Banking location{% endtrans %}&nbsp;<!-- MISSING ICON: <!-- <i class="icon icon-chevron-right trans" aria-hidden="true"></i> --> -->
                            </a>
                        </li>
                        <li class="footer-large-item lg-3 trans">
                            <div class="footer-large-title">
                                <!-- MISSING ICON: <!-- <i class="icon icon-circle-info trans" aria-hidden="true"></i> -->
                                <h3 class="footer-section-title trans">{% trans %}Help and Support{% endtrans %}</h3>
                            </div>
                            <a href="https://www.hsbc.com.hk/help/" data-pid="PWS_HK_EN_T839_0" class="trans">
                                <!-- {% trans %}See FAQs, forms and fees &amp; charges{% endtrans %}&nbsp;<!-- MISSING ICON: <!-- <i class="icon icon-chevron-right trans" aria-hidden="true"></i> --> -->
                            </a>
                        </li>
                        <li class="footer-large-item lg-3 trans">
                            <div class="footer-large-title">
                                <!-- MISSING ICON: <!-- <i class="icon icon-global trans" aria-hidden="true"></i> -->
                                <h3 class="footer-section-title trans">{% trans %}About HSBC{% endtrans %}</h3>
                            </div>
                            <a href="https://www.about.hsbc.com.hk/" data-pid="PWS_HK_EN_T839_0" class="trans">
                                <!-- {% trans %}Careers, media, investor and  corporate information{% endtrans %}&nbsp;<!-- MISSING ICON: <!-- <i class="icon icon-chevron-right" aria-hidden="true"></i> --> -->
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-bottom trans">
        <div class="grid trans">
            <div class="row wrapper">
                <nav class="lg-7 trans" aria-label="Links to website terms and other notices">
                    <ul class="footer-supplementary clearfix trans">
                        <li class="footer-supplementary-item trans">
                            <a href="https://www.hsbc.com.hk/legal/privacy-security/" rel="nofollow" data-pid="PWS_HK_EN_T840_0" class="trans">{% trans %}Privacy and Security{% endtrans %}</a>
                        </li>
                        <li class="footer-supplementary-item trans">
                            <a href="https://www.hsbc.com.hk/legal/terms-of-use/" rel="nofollow" data-pid="PWS_HK_EN_T840_0" class="trans">{% trans %}Terms of Use{% endtrans %}</a>
                        </li>
                        <li class="footer-supplementary-item trans">
                            <a href="https://www.hsbc.com.hk/help/cybersecurity-and-fraud/" data-pid="PWS_HK_EN_T840_0" class="trans">{% trans %}Online Security{% endtrans %}</a>
                        </li>
                        <li class="footer-supplementary-item trans">
                            <a href="https://www.hsbc.com.hk/legal/regulatory-disclosures/" data-pid="PWS_HK_EN_T840_0" class="trans">{% trans %}Regulatory Disclosures{% endtrans %}</a>
                        </li>
                        <li class="footer-supplementary-item trans">
                            <a href="https://www.hsbc.com.hk/legal/" rel="nofollow" data-pid="PWS_HK_EN_T840_0" class="trans">{% trans %}More{% endtrans %}</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer-legal-regulatory sm-12 lg-5 text trans">
                    <p class="trans">{% trans %}©&nbsp;Copyright. The Hongkong and Shanghai Banking Corporation Limited &nbsp;2002-2025. All rights reserved{% endtrans %}<br class="trans"></p>
                    <p class="trans">{% trans %}This website is designed for use in Hong Kong.{% endtrans %} <a href="https://www.hsbc.com.hk/digital/cross-border-banking/" target="_blank" rel="noopener" class="trans"><span aria-hidden="true" class="trans">{% trans %}Cross-border disclosure{% endtrans %}</span><span class="visuallyhidden trans">{% trans %}Cross-border disclosure  This link will open in a new window{% endtrans %}</span></a><br></p>
                </div>
            </div>
        </div>
    </div>
</footer>
