<header class="bg-blue-gray-600 h-20 w-full"></header>
    <div class="max-w-7xl mx-auto h-full px-4 flex items-center">
    </div>
</header>

<header class="header grid header-no-patternlab trans" role="banner" style="position: fixed;">
    <div id="messaging-banner" class="messaging-banner pub trans" style="display: block;">
        <div class="A-PNLDSPHR-RW-ALL trans">
            <div class="banner-message trans"><div class="message-wrapper" id="banner_general_message_1">
                <div class="row trans">
                    <div class="sm-12 trans">
                        <h2 class="message-header A-TYP22L-RW-ALL trans">{% trans %}Beware of phishing SMS{% endtrans %}</h2>
                        <button class="close-message-button trans" data-message-id="247db5f215">
                            <!-- MISSING ICON: <!-- <span class="icon icon-delete trans" aria-hidden="true"></span> -->
                            <span class="visuallyhidden trans"></span>
                        </button>
                    </div>
                    <div class="sm-12 lg-8 trans">
                        <div class="message-text A-TYP16R-RW-ALL trans"><p class="trans">{% trans %}We'll never send you any hyperlinks asking you to log on to your account or share sensitive personal information. Use the Scameter+ App to verify the SMS information.{% endtrans %}</p>
                        </div>
                    </div>
                </div>
            </div></div>
        </div>
    </div>

    <div id="cookie-banner" class="cookie-banner hidden trans">
        <div class="A-PNLDSPHR-RW-ALL trans">
            <div class="cookie-banner-wrapper">
                <div class="row trans">
                    <div class="sm-12 trans">
                        <div class="cookie-banner-text A-TYP16R-RW-ALL trans"><p class="trans">{% trans %}We use cookies to give you the best possible experience on our website. By continuing to browse this site, you give consent for cookies to be used. For more details please read our{% endtrans %} <a href="https://www.hsbc.com.hk/legal/" rel="nofollow" class="trans">{% trans %}Cookie Policy{% endtrans %}</a>{% trans %}.{% endtrans %}</p>
                        </div>
                        <div class="button-wrapper-for-flex">
                            <button class="close-cookie-banner trans">
                                <!-- MISSING ICON: <!-- <span class="icon icon-delete trans" aria-hidden="true"></span> -->
                                <span class="visuallyhidden trans">{% trans %}close cookie banner{% endtrans %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="browser-notification hidden">
        <div class="browser-notification-wrapper">
            <div class="browser-notification-icons left-icon">
                <!-- <span class="icon-exclamation"></span> -->
            </div>
            <div class="browser-notification-text"></div>
            <div class="browser-notification-icons right-icon">
                <button class="close-browser-notification">
                    <!-- MISSING ICON: <!-- <span class="icon icon-close" aria-hidden="true"></span> -->
                    <span class="visuallyhidden"></span>
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript" id="cpiLogoffScript" data-retail-logoff-url="/bin/logout./content/hsbc/hk/en_hk/cpi/log-off/log-off-retail" data-advance-logoff-url="/bin/logout./content/hsbc/hk/en_hk/cpi/log-off/log-off-advance" data-premier-logoff-url="/bin/logout./content/hsbc/hk/en_hk/cpi/log-off/log-off-premier">
    </script>

    <div class="header-wrapper-main">
        <div class="header-nav-wrapper">
            <div class="header-top-container hide-on-mobile-and-tablet trans">
                <div class="header-top trans">
                    <div class="row trans">
                        <div class="lg-12 trans">
                            <nav aria-label="business line" class="trans">
                                <ul class="header-top-navigation trans">
                                    <li class="trans">
                                        <a class="skip-to-content-link trans" href="#top-of-content">
                                            <span class="skip-to-content-link-text trans">{% trans %}Skip page header and navigation{% endtrans %}</span>
                                        </a>
                                    </li>
                                    <li class="header-top-navigation-item is-active trans">
                                        <a href="https://www.hsbc.com.hk/" data-pid="PWS_HK_EN_T837_0" aria-label="Personal" aria-selected="true" data-tms-element-tracked="true" class="trans">{% trans %}Personal{% endtrans %}</a>
                                    </li>
                                    <li class="header-top-navigation-item trans">
                                        <a href="https://www.business.hsbc.com.hk/en-gb" data-pid="PWS_HK_EN_T837_0" aria-selected="false" data-tms-element-tracked="true" class="trans">{% trans %}Business{% endtrans %}</a>
                                    </li>
                                    <li class="header-top-navigation-item trans">
                                        <a href="https://www.gbm.hsbc.com/" data-pid="PWS_HK_EN_T837_0" aria-selected="false" data-tms-element-tracked="true" class="trans">{% trans %}Global Banking and Markets{% endtrans %}</a>
                                    </li>
                                    <li class="header-top-navigation-item trans">
                                        <a href="https://www.asia.privatebanking.hsbc.com.hk/" data-pid="PWS_HK_EN_T837_0" aria-selected="false" data-tms-element-tracked="true" class="trans">{% trans %}Global Private Banking{% endtrans %}</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header-top-meta">
                                <div class="dropdown-container">
                                    <nav aria-label="header dropdown" class="trans">
                                        <ul class="trans">
                                            <li class="header-dropdown header-generic-dropdown trans">
                                                <a class="selected-item trans" tabindex="0" role="button" href="#" aria-expanded="false">
                                                    <span class="visuallyhidden trans">{% trans %}List of languages{% endtrans %}</span > English {% endtrans %}
                                                    <!-- MISSING ICON: <!-- <span class="icon icon-chevron-down-small trans" aria-hidden="true"></span> -->
                                                </a>
                                                <ul class="item-list locale-management trans">
                                                    <li class="item is-selected trans">
                                                        <a href="#" lang="en-hk" class="trans">
                                                            <span class="visuallyhidden trans">{% trans %}Selected{% endtrans %}</span > English {% endtrans %}
                                                            <!-- MISSING ICON: <!-- <span class="icon icon-agree trans" aria-hidden="true"></span> -->
                                                        </a>
                                                    </li>
                                                    <li class="item trans">
                                                        <a href="#" lang="zh-hk" class="trans">{% trans %}繁體{% endtrans %}</a>
                                                    </li>
                                                    <li class="item trans">
                                                        <a href="#" lang="zh-cn" class="trans">{% trans %}简体{% endtrans %}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="header-user-wrapper trans">
                                                <div class="header-dropdown primary-button trans" aria-label="Log on options">
                                                    <a class="selected-item login-button trans" tabindex="0" role="button" aria-expanded="false">
                                                        {% trans %}Log on{% endtrans %}
                                                        <!-- MISSING ICON: <!-- <span class="icon icon-chevron-down-small trans" aria-hidden="true"></span> -->
                                                    </a>
                                                    <a class="cpi-masthead-logoff__button-dpws logout-button hidden trans" href="#" tabindex="0" role="button" data-event-component="topnav" data-event-name="logoff">
                                                        {% trans %}Log off{% endtrans %}
                                                    </a>
                                                    <ul class="item-list login-links trans">
                                                        <li class="item trans">
                                                            <a class="login-link trans" href="https://www.hsbc.com.hk/online/dashboard?initialAccess=true" data-event-component="topnav" data-event-name="pib">
                                                                {% trans %}HSBC Online Banking{% endtrans %}
                                                                <!-- MISSING ICON: <!-- <span class="icon icon-chevron-right trans"></span> -->
                                                            </a>
                                                        </li>
                                                        <li class="item trans">
                                                            <a class="login-link trans" href="https://www.hsbc.com.hk/ways-to-bank/internet/security-key/" data-event-component="topnav" data-event-name="register">
                                                                {% trans %}Register for Personal Internet Banking{% endtrans %}
                                                                <!-- MISSING ICON: <!-- <span class="icon icon-chevron-right trans"></span> -->
                                                            </a>
                                                        </li>
                                                        <li class="item trans">
                                                            <a class="login-link trans" href="https://investments4.personal-banking.hsbc.com.hk/stb/en-gb/portfolio" data-event-component="topnav" data-event-name="stock-trading">
                                                                {% trans %}Stock Trading{% endtrans %}
                                                                <!-- MISSING ICON: <!-- <span class="icon icon-chevron-right trans"></span> -->
                                                            </a>
                                                        </li>
                                                        <li class="item trans">
                                                            <a class="login-link trans" href="https://www.online-banking.business.hsbc.com.hk/portalserver/logon" data-event-component="topnav" data-event-name="bib">
                                                                {% trans %}Business Internet Banking{% endtrans %}
                                                                <!-- MISSING ICON: <!-- <span class="icon icon-chevron-right trans"></span> -->
                                                            </a>
                                                        </li>
                                                        <li class="item trans">
                                                            <a class="login-link trans" href="https://www.hsbcnet.com/" data-event-component="topnav" data-event-name="hsbcnet">
                                                                {% trans %}HSBCnet{% endtrans %}
                                                                <!-- MISSING ICON: <!-- <span class="icon icon-chevron-right"></span> -->
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                    <div class="page-overlay hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="header-main-container hide-on-mobile-and-tablet">
                <div class="header-main">
                    <div class="row wrapper">
                        <div class="header-logo lg-2">
                            <a href="https://www.hsbc.com.hk/">
                                <img src="/static/images/hongkong-hsbc-logo-en.svg" alt="HSBC Hong Kong Bank" class="trans">
                            </a>
                        </div>
                        <nav class="header-main-navigation lg-10 trans">
                            <ul class="row trans">
                                <li class="header-main-navigation-item trans" tabindex="0">
                                    <div class="header-doormat-mobile-title">
                                        <span class="header-main-navigation-title trans">{% trans %}Banking{% endtrans %}</span>
                                        <span class="header-main-navigation-subtitle trans">{% trans %}Accounts &amp; Services{% endtrans %}</span>
                                    </div>
                                </li>
                                <li class="header-main-navigation-item trans" tabindex="0">
                                    <div class="header-doormat-mobile-title">
                                        <span class="header-main-navigation-title trans">{% trans %}Borrowing{% endtrans %}</span>
                                        <span class="header-main-navigation-subtitle trans">{% trans %}Cards &amp; Loans{% endtrans %}</span>
                                    </div>
                                </li>
                                <li class="header-main-navigation-item trans" tabindex="0">
                                    <div class="header-doormat-mobile-title">
                                        <span class="header-main-navigation-title trans">{% trans %}Investing{% endtrans %}</span>
                                        <span class="header-main-navigation-subtitle trans">{% trans %}Securities &amp; Currency Exchange{% endtrans %}</span>
                                    </div>
                                </li>
                                <li class="header-main-navigation-item trans" tabindex="0">
                                    <div class="header-doormat-mobile-title">
                                        <span class="header-main-navigation-title trans">{% trans %}Insurance{% endtrans %}</span>
                                        <span class="header-main-navigation-subtitle trans">{% trans %}Protection &amp; Planning{% endtrans %}</span>
                                    </div>
                                </li>
                                <li class="header-main-navigation-item trans" tabindex="0">
                                    <div class="header-doormat-mobile-title">
                                        <span class="header-main-navigation-title trans">{% trans %}Insights{% endtrans %}</span>
                                        <span class="header-main-navigation-subtitle trans">{% trans %}Analysis &amp; Market Data{% endtrans %}</span>
                                    </div>
                                </li>
                                <li class="header-main-navigation-item trans" tabindex="0">
                                    <div class="header-doormat-mobile-title">
                                        <span class="header-main-navigation-title trans">{% trans %}Offers{% endtrans %}</span>
                                        <span class="header-main-navigation-subtitle trans">{% trans %}Latest Rewards{% endtrans %}</span>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
            <div class="header-mobile trans">
                <div class="header-mobile-top hide-on-desktop trans">
                    <button class="header-sidebar-trigger trans" aria-label="Open menu" data-aria-label-open-menu="Open menu" data-aria-label-close-menu="Close menu">
                        <!-- MISSING ICON: <!-- <span class="icon icon-menu trans" aria-hidden="true"></span> -->
                        <span class="header-sidebar-trigger-text trans">{% trans %}Menu{% endtrans %}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
